/*
  hoja de estilos
  esto es un comentario de bloque
  @auto: Iker
  @version: 1.0
  @tags: css, basic, etc..
  @licencia: mit
  
*/

/* Estructura de una plantilla css */
/*
    1. Reset.
    2. @keyframes.
    3. Estilos Generales a todas las Etiquetas
    4. Layouts
    5. Clases 
    6. Ids (cosas mas especificas)
    7. FontAwsome
    8. Media-Querys
*/

@import url("reset.css");
@import url("normalize.css");
@import url("etiquetas.css");
@import url("animaciones.css");
@import url("layouts.css");
@import url("clases.css");
@import url("custom.css");
@import url("media-querys.css");

@import url("impresora.css") print;